<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
    <link rel="stylesheet" href="/css/rotating-skills.css">
  </head>
  
  <body>
      <div class="container">
        <p class="title">Skills</p>

          <div class="orbit orbit-1">
            <img src="/images/csharp.png" alt="C#" class="skill">
            <img src="/images/sql.png" alt="SQL" class="skill">
            <img src="/images/js.png" alt="JS" class="skill">
            <img src="/images/excel.png" alt="JS" class="skill">
          </div>
        
          <div class="orbit orbit-2">
            <img src="/images/Unity.png" alt="Unity" class="skill">
            <img src="/images/NodeJS.png" alt="NodeJS" class="skill">
            <img src="/images/HTML.png" alt="HTML" class="skill">
            <img src="/images/CSS.png" alt="CSS" class="skill">
            <img src="/images/postgre.png" alt="CSS" class="skill">
            <img src="/images/react.png" alt="CSS" class="skill">
          </div>

      </div>

    <script src="/JS/skills.js"></script>
  </body>
</html>
