@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

/* Container */
.container-skills {
  position: relative;
  padding: 100px;
  overflow:visible;
  margin: 50px;
}

.title {
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lora', serif;
  font-size: 56px;
  color: firebrick;
  background: linear-gradient(to bottom, firebrick, #666);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
  z-index: -1;

}


.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(150, 150, 150, 0.5);
  border-radius: 50%;
  box-shadow: 0px 0px 12px rgba(150, 150, 150, 0.3);
}


.orbit-1 {
  width: 250px;
  height: 250px;
  animation: rotate 25s linear infinite;
}

.orbit-1 .skill {
  position: absolute;
  width: 70px;
  height: 70px;
  z-index: 3;
  animation: counter-rotate 25s linear infinite;
}


.orbit-2 {
  width: 400px;
  height: 400px;
  animation: rotate 45s linear infinite;
}
.orbit-2 .skill {
  position: absolute;
  width: 55px;
  height: 55px;
  z-index: 3;
  animation: counter-rotate 45s linear infinite;
}





@keyframes rotate {
  from { transform: translate(-50%, -50%) rotate(0deg); }
  to { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes counter-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
